:root {
  --red: #ea5353;
  --cyan: #45d3d3;
  --orange: #fcaf4a;
  --blue: #549ef2;
  --very-dark-blue: #4c4e61;
  --grayish-blue: #a3a5ae;
  --very-light-gray: #fafafa;
  --font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  font-family: var(--font-family);
  background-color: var(--very-light-gray);
}

* { box-sizing: border-box; }

.header {
  margin-top: 8.4rem;
  margin-bottom: 7.5rem;
}

.header__wrapper, .main__wrapper {
  margin: auto;
  width: 31.14rem;
  text-align: center;
}

.header__wrapper-title {
  font-size: 2.43rem;
  font-weight: 200;
  color: var(--very-dark-blue);
  line-height: 3.6rem;
}

.header__wrapper-title--strong {
  font-weight: 600;
}

.header__wrapper-paragraph {
  font-size: 1.52rem;
  color: var(--grayish-blue);
  margin-top: 1.5rem;
  line-height: 2.55rem;
  padding-left: .75rem;
  padding-right: .75rem;
}

.main__wrapper-card {
  height: 22.2rem;
  text-align: left;
  box-shadow: 0px 20px 30px -2px #D9E0EA;
  margin-bottom: 2.48rem;
  border-radius: 7.5px;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.main__wrapper-card:before {
  content: "";
  height: 4px;
  display: block;
  background: var(--cyan);
}

.main__wrapper-card:nth-child(2):before { background: var(--red); }

.main__wrapper-card:nth-child(3):before { background: var(--orange); }

.main__wrapper-card:nth-child(4):before { background: var(--blue); }

.main__wrapper-card-title {
  font-size: 1.98rem;
  font-weight: 600;
  color: var(--very-dark-blue);
  margin-top: 2.9rem;
  margin-bottom: .98rem;
  margin-left: 2.8rem;
}

.main__wrapper-card-paragraph {
  font-size: 1.3rem;
  color: var(--grayish-blue);
  width: 27.9rem;
  padding-left: 2.93rem;
  line-height: 2.21rem;
}

.main__wrapper-card-icon {
  position: absolute;
  top: 13.8rem;
  left: 22.65rem;
  width: 5.7rem;
  height: 5.7rem;
}