  .header {
    margin-top: 8.1rem;
    margin-bottom: 4.3rem;
    display: flex;
    justify-content: center;
  }

  .header__wrapper {
    width: 111rem;
  }

  .header__wrapper-title {
    font-size: 3.66rem;
    line-height: 5.1rem;
  }

  .header__wrapper-paragraph {
    font-size: 1.5rem;
    line-height: 2.4rem;
    width: 53.25rem;
    padding: 0;
    margin: 1.95rem auto;
  }

  .main {
    /* margin-top: 5.2rem; */
    margin-bottom: 8.1rem;
    display: flex;
    justify-content: center;
  }

  .main__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 111rem;
  }

  .main__wrapper-card {
    width: 35rem;
    height: 25.1rem;
  }

  .main__wrapper-card:nth-child(1) {
    margin-top: 14.1rem;
    margin-right: 3rem;
    order: 1;
  }

  .main__wrapper-card:nth-child(2) {
    order: 2;
    margin-right: 3rem;
  }

  .main__wrapper-card:nth-child(3) {
    order: 4;
    margin: auto;
    margin-top: -13.5rem;
  }

  .main__wrapper-card:nth-child(4) {
    margin-top: 14.1rem;
    order: 3;
  }

  .main__wrapper-card-title {
    font-size: 2rem;
    margin: 3.38rem 0 1.2rem 3rem;
  }

  .main__wrapper-card-paragraph {
    font-size: 1.32rem;
    width: 32rem;
    padding-left: 3.15rem;
    line-height: 2.33rem;
  }

  .main__wrapper-card-icon {
    top: 15.45rem;
    left: 25.5rem;
    width: 6.45rem;
    height: 6.45rem;
  }